<h2><%= @blog_post.title %></h2>
<p><%= @blog_post.body %></p>

<h3>Blog Comments</h3>

<%= form_with(model: @comment, url: [@blog_post, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <p><%= @comment.errors.map(&:full_message).join(", ") %></p>
  <% end %>


  <div>
    <%= f.label :user %>
    <%= f.text_field :user %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <%= f.submit "Submit comment" %>
<% end %>

<ul>
  <% @blog_post.comments.order(created_at: :desc).each do |comment| %>
    <li>
      <p><%= comment.body %></p>
      <p>From user: <strong><%= comment.user %></strong></p>
    </li>
  <% end %>
</ul>